:root {
    --primary_color: #2170c5;
    --secondary_color: #fff;
    --accent_color: #07d600;
    --background_color: #2b2f33;
}

body {
    background: var(--background_color);
    font-size: large;
}


h1, h2 {
    color: var(--secondary_color);
}

.centered-container {
    display: flex;
    justify-content: center;
}

/* Navigation Bar*/


.navbar {
    background-color: var(--primary_color);
}

.navbar-brand {
    color: var(--secondary_color);
    font-size: x-large;
}

.navbar-brand:hover {
    color: var(--secondary_color);
}

.nav-link {
    color : var(--secondary_color);
}

.nav-link:hover {
    color: var(--secondary_color);
}

@media screen and (min-width: 768px) {

    .nav-link {
        transition: scale ease-in 0.3s;
    }

    .nav-link:hover {
        scale: 1.2;
    }
}

.navbar-toggler {
    color: var(--secondary_color);
}

.navbar-toggler-icon {
    color: var(--secondary_color);
}


/* Form */


.add-task {
    width: 700px;
}

.form-select {
    color: var(--secondary_color);
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
    font-size: large;
}

.form-control {
    color: var(--secondary_color);
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
}

.form-control::placeholder{
    position: absolute;
    top: 6px;
    color: var(--secondary_color);
    font-size: large;
}

.form-control:focus {
    color: var(--secondary_color);
    background-color: var(--background_color);
}

.form-error {
    color: var(--secondary_color);
}

.details {
    height: 220px;
}

.btn-primary {
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
    transition: all ease-in-out 0.7s;
    font-size: large;
}

.btn-primary:hover {
    background-color: var(--primary_color);
}

/* Show Tasks */

.list-group {
    width: 700px;
    border-radius: 20px;
}

.list-group-item {
    background-color: var(--background_color);
    border-color: var(--primary_color);
    color: var(--secondary_color);
}

.high {
    color: red;
}

.medium {
    color: orange;
}

.low {
    color: yellow;
}

.form-check-input:focus {
    display: none;
}

.form-check-input:checked {
    background-color: var(--accent_color);
    border: none;
}

.task-date {
    display: none;
}

@media screen and (min-width: 768px) {
    .task-date {
        display: block;
    }
}