:root {
    --primary_color: #2170c5;
    --secondary_color: #fff;
    --accent_color: #07d600;
    --background_color: #2b2f33;
}

body {
    background: var(--background_color);
}

h2 {
    color: var(--secondary_color);
}

/* Navigation Bar*/


.navbar {
    background-color: var(--primary_color);
}

.navbar-brand {
    color: var(--secondary_color);
}

.navbar-brand:hover {
    color: var(--secondary_color);
}

.nav-link {
    color : var(--secondary_color);
}

.nav-link:hover {
    color: var(--secondary_color);
}

@media screen and (min-width: 768px) {

    .nav-link {
        transition: scale ease-in 0.3s;
    }

    .nav-link:hover {
        scale: 1.2;
    }
}

.navbar-toggler {
    color: var(--secondary_color);
}

.navbar-toggler-icon {
    color: var(--secondary_color);
}


/* Form */

.form-container {
    display: flex;
    justify-content: center;
}

.add-task {
    width: 700px;
}

.form-select {
    color: var(--secondary_color);
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
}

.form-control {
    color: var(--secondary_color);
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
}

.form-control::placeholder{
    color: var(--secondary_color);
}

.form-control:focus {
    color: var(--secondary_color);
    background-color: var(--background_color);
}

.form-error {
    color: var(--secondary_color);
}

.details {
    height: 200px;
}

.btn-primary {
    background-color: var(--background_color);
    border-color: var(--primary_color);
    border-radius: 20px;
    transition: all ease-in-out 0.7s;
}

.btn-primary:hover {
    background-color: var(--primary_color);
}